<div class="card mb-3">
    <img src="{{item.src}}" class="mw-100">
    <div class="card-block">
        <button class="btn btn-secondary"
                title="remove image"
                (click)="remove()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <button class="btn btn-secondary"
                title="edit image"
                [routerLink]="['/custom-image/update', item.id]">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="btn btn-secondary"
                title="image details"
                [routerLink]="['/custom-images', item.id]">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
    </div>
</div>
