<div class="card mb-3">
    <image-with-tooltip [item]="item" [showPointer]="showTooltip"></image-with-tooltip>
    <div class="card-block">
        <button class="btn btn-secondary"
                title="remove image"
                (click)="remove()">
            <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
        <button class="btn btn-secondary"
                title="edit image"
                [routerLink]="['/custom-image/update', item.id]">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="btn btn-secondary"
                title="show/hide tooltip"
                (click)="toggleTooltip()">
            <i class="fa fa-eye{{showTooltip ? '-slash' : ''}}" aria-hidden="true"></i>
        </button>
    </div>
</div>
