<div class="jumbotron">
    <h1 class="display-3">Home Page!</h1>
    <p class="lead">We are creating a frontend app that allows staff to manage web site content. on the web site.</p>
    <p class="lead">One of the features that needs to be implemented is managing images with tooltips.</p>
    <p>Admin can upload images and add special pointer to it. When user hovers this pointer, tooltip appears. Tooltip
        text is customizable by admin.</p>
    <p>We need to create a tool for admin to manage images with tooltips.</p>
    <p>Admin should be able to see list of images, add image, edit image, delete image. Also with adding or editing
        images he can add or edit tooltips pointer. Also we need to have a preview mode to test image with tooltip to
        see how it works for a common user.</p>
</div>
